{% extends "account/base.html" %}
{% load url from future %}
{% load i18n compress %}

{% block head_title %}{% trans "Sign up at BuddyUp" %}{% endblock %}

{% block content %}
<h1>{% if redirect_field_value %}{% trans "Welcome to BuddyUp." %}{% else %}{% trans "Get started at BuddyUp." %}{% endif %}<div class="help">Get started in one step.  BuddyUp is free to signup and use.</div></h1>

<form class="signup ph_form" role="form" id="signup_form" method="post" action="{% url 'account_signup' %}" autocomplete="off">
  {% csrf_token %}
  {{form}}
  
  <button type="submit" class="button btn btn-primary sign_up_button">{% trans "Get Started" %} &raquo;</button>
  
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
</form>



{% endblock %}

