.sales_row {
    position: relative;
    height: 120px;
    margin-bottom: 20px;
}
.sales_headers {
    margin-bottom: 20px;
}
.sales_track_bar {
    border: 1px solid #EEE;
    border-width: 0 0 4px 0;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
}
.drag_handle, .drag_handle img {
    z-index: 100;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    overflow: auto;
}
.drag_handle { 
    min-height: 60px;
    background-color: #FFF;
    border: 5px solid #EEE;
    border-radius: 20px;
}
.school_name {
    line-height: 120px;
    vertical-align: middle;
    font-size: 20px;
}
.sales_label {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.dragdealer {
  position: relative;
  height: 120px;
  
}
.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}


@media only screen and (max-width: 767px) { 
    .sales_row {
        margin-top: 60px;
    }
    .sales_label {
        font-size: 14px;
        text-align: left;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
    #main {
        margin-top: 100px;
    }
    .drag_handle, .drag_handle img {
        line-height: 50px;
    }
    .drag_handle img {
        width: 50px;
        height: 50px;
    }
    .drag_handle {
        border-width: 4px;
    }
    .dragdealer, .drag_handle, .sales_row {
        height: 70px;
    }
    .school_name {
        line-height: 70px;
    }
}